@import url("invoice-form.css");

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	/* background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	direction: rtl;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	box-shadow: .5rem .5rem 1rem rgba(0 0 0 / .2);
	padding: 1rem .5rem;
}

#root>*+* {
	margin-top: 2rem;
}

/*==============================
=>  Header
================================*/

nav {
	/* position: fixed; */
	box-shadow: 1px 2px 1rem rgba(0, 0, 0, 0.25);
}

.header a {
	/* color: #FFF; */
}

.user {
	display: flex;
}

.user img {
	width: 2rem;
}

/*==============================
=>  form
================================*/

/* form .mb-3 button,
form .mb-3 input[type="submit"],
form .mb-3 input[type="button"] {
  margin-left: 1rem;
} */

/*==============================
=>  table
================================*/

.wrapper {
	--content-max-width: 1160px;
	--padding: .5rem;

	/* This is a CSS function that takes two or more comma-separated values and returns the smallest value. In this case, it's used to ensure that the width of the element is at least as wide as the value specified in var(--content-max-width). */
	width: min(var(--content-max-width), 100% - 2rem);
	position: relative;
	margin-inline: auto;
	padding: var(--padding);
	box-shadow: 1px 1px .3rem rgba(97, 94, 94, 0.25);
}

.wrapper .top {
	display: flex;
	justify-content: space-around;
	padding: var(--padding);
}

.wrapper .top input {
	width: 80%;
	text-align: center;
}

.wrapper table {
	width: 100%;
	text-align: center;
}

.wrapper table thead {
	background-color: rgb(247, 247, 247);
	text-transform: capitalize;
	font-weight: bold;
	/* color: blue; */
}

/* @media (max-width: 970px) {
  .wrapper table {
      margin-top: 5rem;
      margin-left: 0;
      width: 100%;
  }
} */

.wrapper table tbody tr.active {
	transform: translateX(.5rem);
	transition: .5s;
	background-color: rgba(135, 126, 255, .25);
	box-shadow: 1px 2px .2rem rgba(0, 0, 0, 0.25);
}

/* .wrapper table tbody tr {
  counter-increment: table-row-counter;
} */

/* .wrapper table tbody tr::before {
  content: counter(table-row-counter);
  opacity: .5;
} */

.wrapper table tr td {
	padding: var(--padding);
	width: min(150px, 100%);
}

.wrapper table tr td span {
	/* reconsedred */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
}

.wrapper table tr td img {
	/* position: absolute; */
	width: 5rem;
	height: 5rem;
	border-radius: .2rem;
	box-shadow: 1px 2px 1rem rgba(0, 0, 0, 0.25);
	/* padding: .5rem; */
	object-fit: cover;
	margin-left: .2rem;
	cursor: pointer;
}


.big-img {
	display: none;
	position: fixed;
	object-fit: cover;
	top: 50%;
	left: 70%;
	width: 50%;
	height: 80%;
	transform: translate(-70%, -50%);
	z-index: 10;
	border-radius: .2rem;
	box-shadow: 1px 2px .2rem rgba(0, 0, 0, 0.25);
}

.big-img.active {
	display: block;
	/* border: 1px solid red; */
}

.big-img.clicked {
	display: block;
	/* border: 1px solid red; */
}

.wrapper table tbody tr .prices span:nth-child(1) {
	color: rgb(107, 0, 0);
}

.wrapper table tbody tr .prices span:nth-child(2) {
	color: rgb(255, 0, 0);
}

.wrapper table tbody tr .prices span:nth-child(3) {
	color: rgb(224, 210, 10);
}

.wrapper table tbody tr .prices span:nth-child(4) {
	color: rgb(72, 255, 0);
}

.wrapper table tbody tr:nth-child(even) {
	background-color: rgb(247, 250, 255);
}

.wrapper table tbody tr:nth-child(even).active {
	background-color: rgba(135, 126, 255, .25);
	box-shadow: 1px 2px .2rem rgba(0, 0, 0, 0.25);
}

/*==============================
=>  modal
================================*/

.my-dialog-modal {
	margin-inline: auto;
	width: min(500px, 90%);
	border: none;
	border-radius: .5rem;
	background-color: #fff;
	color: #000;
	padding: .5rem;
}

.my-dialog-modal::backdrop {
	background-image: linear-gradient(
	  45deg,
	  magenta,
	  rebeccapurple,
	  dodgerblue,
	  green
	);
	opacity: 0.75;
  }

.my-dialog-modal[open=""] {
	animation: load ease-in-out .4s;
}

.my-dialog-modal::backdrop {
	background-color: hsl(250, 100%, 50%, 0.25);
}

@keyframes load {
	from {
		top: -100%;
		opacity: .2;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

/*==============================
=>  profit-percent
================================*/

/* .profit-percent .div {
  display: grid; 
  grid-template-columns: '1fr';
  gap: .3rem;
  align-items: center;
  justify-content: center;
} */

/*==============================
=>  login form | fields
================================*/

.login-form {
	padding: 2.5rem;
	width: max(80%, 300px);
	/* min-width: 300px; */
	margin: 0 auto;
	/* display: flex; */
	/* flex-direction: column; */
	/* gap: 2.5rem; */
	box-shadow: .3rem .2rem .3rem rgba(0 0 0 / .25);
}

/*==============================
=>  input box
================================*/

.input-boxxx {
	position: relative;
}

.input-boxxx input {
	width: 100%;
	padding: 0.22rem .5rem;
	color: black;
	background-color: #fff;
	/* outline: none; */
	border: 1px solid #00dfc4;
	border-radius: 0.3rem;
}

.input-boxxx input:disabled {
	background-color: rgb(226, 226, 226);
}

.input-boxxx input:focus~label,
.input-boxxx label.active {
	background-color: white;
	color: black;
	font-size: 0.65rem;
	letter-spacing: 0.15rem;
	-webkit-transform: translate(-0.62rem, -1.20rem);
	transform: translate(-0.62rem, -1.20rem);
	border-left: .1rem solid #00dfc4;
	border-right: .1rem solid #00dfc4;
	border-radius: .2rem;
}

.input-boxxx label {
	position: absolute;
	top: 0;
	right: 0;
	padding: .22rem .5rem;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.45);
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.input-boxxx span {
	padding: .22rem .5rem;
	color: #ff0000;
}

/*==============================
=>  carousel
================================*/

/* .carousel.slide {
	position: fixed;
	width: min(90%, 600px);
	height: min(100%, 500px);
	z-index: 10;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
	
}*/
.carousel.slide img {
	/* display: fixed; */
	/* width: min(90%, 800px); */
	width: 100%;
	height: 15rem;

	object-fit: cover;
	border-radius: .5rem;
	/* box-shadow: 1px 2px 1rem rgba(0, 0, 0, 0.25); */

	/* object-fit: cover; */
	/* fit */
	/* width: 30px;
	height: 30px; */
}


/*==============================
=>  item has image
================================*/

.has-image {
	cursor: pointer;
}

.has-image::before {
	content: '';
	color: blue;
	border: .4rem solid blue;
	border-color: blue transparent transparent transparent;
}

/*==============================
=>  items
================================*/

.inner-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: .5rem;
}

@media only screen and (max-width: 600px) {
	.inner-container {
		grid-template-columns: 1fr;
	}
}

.container .top {
	display: flex;
	justify-content: space-around;
	padding: var(--padding);
	margin-bottom: .5rem;
}
.container .top input {
	width: 80%;
	text-align: center;
}

.my-card {
	/* position: relative; */
	/* max-height: 33rem; */
	/* min-height: 15rem; */
}




#dddddddddddddddddddddddddddd {
	/* as long as there's enough space in page width it's puts elemnts */
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
}

#sssssssssssss {
	/* screen_width = 500px
	default = 900px
	max = 80vw = (screen_width(500) / 100) * max(80) = 400px
	min = 430px
	if (default > max)
		default = max`
	if (max < min)
		default = min */
	/* clamp(min, default, max) */
	width: clamp(min(430px, 100vw), 900px, 80vw);
}


/*==============================
=>  invoices
================================*/

.invoices {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: .3rem 0;
	overflow-x: auto;
	overflow-y: hidden;
}


.invoices .header {
	min-width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
	box-shadow: 1px 2px .4rem rgba(0, 0, 0, 0.25);
}


.invoices .invoice {
	min-width: 300px;
	position: relative;
	/* display: flex; */
	/* gap: 1rem; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
	/* align-items: center; */
	padding: .5rem;
	border-radius: .5rem;
	cursor: pointer;
	/* border-bottom: 1px solid #ccc; */

}


.invoices .invoice:nth-child(even) {
	background-color: #f0f0f0;
}

.invoices .invoice .detail {
	display: flex;
	justify-content: space-between;
	padding: .5rem;
}

.invoices .invoice .invoice-items {
	height: 0;
	border-radius: .5rem;
	animation: fade .4s ease-in-out forwards;
}

@keyframes fade {
	to {
		height: 10rem;
	}
}

.invoices .invoice:hover {
	opacity: .9;
}

.invoices .invoice::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	border-radius: .5rem 0;
	border: 2px solid;
}

.invoices .invoice.purchase::before {
	border-color: green;
}
.invoices .invoice.sales::before {
	border-color: red;
}



.no-style {
	background: transparent;
	border: none;
}



/* .invoice-items td input {
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	color: black;
}

.invoice-items td input.active {
	background-color: inherit;
	border: 1px solid gray;
	outline: auto;
	cursor: auto;
	color: rgb(255, 0, 0);	
	font-weight: bold;
} */


.loading {
	color: red;
}

svg {
	color: blue;
	cursor: pointer;
	font-size: 1.3rem;
	margin-left: .3rem;
}

svg:hover {
	opacity: .7;
}

.camera-ico {
	position: absolute;
	top: .5rem;
	left: .5rem;
	background-color: transparent;
	border: none;
}

.search-input-wrapper {
	position: relative;
	/* background-color: red; */
	width: 100%;
	padding: 0 .5rem;
}

.my-input {
	background-color: transparent;
	padding: .7rem;
	outline: none;
	border: 1px solid gainsboro;
	border-radius: .5rem;
	min-width: 100%;
	color: #000;
}
.my-input:focus {
	outline: blue outset .13rem;

	/* box-shadow: 0px 0 .5rem rgba(0, 0, 0, 0.75); */

}

.hidden {
	display: none;
}




/* .invoice-detail-form {
    background-color: red;
} */